.planetextcontainer{
  margin: 4vw 10vw;
  font-family: 'Ubuntu', sans-serif;
}
.planetextcontainer p{
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 20px;
}
.planetextcontainer h2{
  font-size: 30px;
  margin-top: 45px;
}
.planetextcontainer h3{
  font-size: 24px;

}
.planetextcontainer li{

  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 20px;
}