:root{
    --white1: #ffffff;
    --white2: #f8f8f8;
    --white3: #e9e9e9;
    --black1: #222222;
    --black2: #2c2c2c;

}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

a{
    text-decoration: none;
}
.h-btn1{
    text-decoration: none;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 8px;
    background-color: var(--black2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--black2);
}
.h-btn2{
    text-decoration: none;
color: #222222;
    height: 50px;
    width: 160px;
    border-radius: 8px;
border: 1.5px solid var(--black2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    background-color: var(--white2);
    padding: 5px;
    height: 80px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
 z-index: 10;
}
.header img{
    height: 50px;
}
.searchbar{
padding: 15px;
background-color: var(--white3);
border: none;
border-radius: 8px;
font-size: 16px;
font-family: 'Ubuntu', sans-serif;

width: 300px;


}
.h-sec0{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.h-sec1{
    background-color: var(--white3);
    border-radius: 8px;
    display: flex;
  
    height: 50px;

}
.h-sec1 i{
    margin-left: 45px;
    margin-right: 5px;
}
.menu1{
    width: 130px;
    height: 50px;
 overflow: hidden;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    z-index: 10;

}
.menu1.expanded{
    height: 160px;
    background-color: var(--black2);
    color: #e9e9e9;
}
.menu1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu1 li{
    margin: 0;

    height: 50px;
    display: flex;
    align-items: center;
 padding-left: 24px;
    border-radius: 10px;
    transition: 0.2s;
 
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
  }



  .menu{
    display: none;
    font-size: 24px;
    margin-right: 20px;
  }

  @media (max-width: 767px) {
    .h-sec0{
       display: none;
    }
    .menu{
        display: block;
    }
     }


     .menusec {
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        z-index: 999;
        background-color: #000000b3;
        top: 0;
        width: 100%;
        display: none;
        transform: rotateY(0deg);
        transition: 0.8s; /* link with java script menu code delay  */

        transform-origin: left center;

    }

    .hiddenf {
        transform: rotateY(-90deg);
        z-index: 999;
    }

    .menusec1 {
        min-height: 100vh;
        background-color: #ffffff;
        width: 80%;
    }

    .menuclose {
        font-size: 30px;
        width: 100%;
        text-align: right;

    }

    .menuclose i {
        margin: 30px 50px;
    }

    @media (max-width: 767px) {
        .menusec {
            display: block;
        }
    }

    .menusec ul {
        font-size: 20px;
        list-style: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;

    }

    .menusec li {
        margin-bottom: 40px;

    }

    .menucontent {
        margin: 20%;
    }

    .menusec a {
        text-decoration: none;
        text-transform: uppercase;
        color: #333;

    }

    .menusec .hbar {
        height: 5px;
        width: 100%;
        background: #3333330e;
        margin-top: 80px;
    }

    .menusec p {
        font-size: 14px;
    }

    .menusec .email {
        font-weight: 600;
        margin-bottom: 30%;
        padding-bottom: 100px;
    }